<h2 class="page-header">Edit Book</h2>

<form action="/books/<%= book.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
  <!-- Title field -->
  <label for="title">Title</label>
  <input type="text" name="title" value="<%= book.title %>">
  <br>
  <!-- Author field -->
  <label for="author">Author</label>
  <select name="author">
    <% authors.forEach(author=> { %>
      <% if (author.id==book.author) { %>
        <option selected label="<%= author.name %>" value="<% author.id %>"></option>
        <% } else { %>
          <option label="<%= author.name %>" value="<%= author.id %>"></option>
          <% } %>
            <% }) %>
  </select>
  <br>
  <!-- Published date field -->
  <label for="publishDate">Publish Date</label>
  <input type="date" name="publishDate"
    value="<%= book.publishDate==null? '': book.publishDate.toISOString().split('T')[0] %>">
  <br>
  <!-- Page field -->
  <label for="pageCount">Page Count</label>
  <input type="number" name="pageCount" min="1" value="<%= book.pageCount %>">
  <br>
  <!-- Cover Image field -->
  <label>Cover Image</label>
  <input type="file" name="coverImg">
  <br>
  <!-- Description field -->
  <label for="description">Description</label>
  <textarea name="description" cols="20" rows="5"><%= book.description %> </textarea>
  <button class="btn btn-primary" type="submit">Update</button>
  <a class="btn btn-primary" href="/authors">Cancel</a>
</form>