<h1>All books</h1>
<br>

<h2>Search book</h2>
<form action="/books" method="GET">
  <!-- Book title search -->
  <label for="title">Title</label>
  <input type="text" name="title"
    value="<%= searchOptions.title != null && searchOptions.title != "" ? searchOptions.title: null %>">
  <br>
  <label for="publishBefore">Published Before</label>
  <input type="date" name="publishBefore" value="<%= searchOptions.publishBefore %>">
  <br>
  <label for="publishAfter">Published After</label>
  <input type="date" name="publishAfter" value="<%= searchOptions.publishAfter %>">
  <br>
  <button type="submit">Search</button>
</form>
<div>
  <% for(let i=0; i<books.length; i++) { %>
    <div>
      <h3>
        <%= books[i].title %>
      </h3>
  <img height="150" src="data:<%= books[i].imgMimeType %>;base64,<%= base64Files[i] %>" alt="img">

    </div>
    <% } %>
</div>

<form action="/books/del" method="POST">
  <button type='submit'>Delete All</button>
</form>