<h1 class="page-header">All books</h1>
<br>

<h2>Search book</h2>
<form action="/books" method="GET">
  <!-- Book title search -->
  <div class="form-row">
    <div class="form-item">
      <label for="title">Title</label>
      <input type="text" name="title"
        value="<%= searchOptions.title != null && searchOptions.title != "" ? searchOptions.title: null %>">
    </div>
  </div>
  
  <!-- Book published date search (before) -->
  <div class="form-row">
    <div class="form-item">
      <label for="publishBefore">Published Before</label>
      <input type="date" name="publishBefore" value="<%= searchOptions.publishBefore %>">
    </div>

    <!-- Book published date search (after) -->
    <div class="form-item">
      <label for="publishAfter">Published After</label>
      <input type="date" name="publishAfter" value="<%= searchOptions.publishAfter %>">
    </div>
  </div>

  <!-- buttons section -->
  <div class="button-section">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>

<div class="books-section">
  <% books.forEach((book, index)=> { %>
    <div class="book-item">
    
      <h3>
        <%= book.title %>
      </h3>
      <a href="/books/<%= book.id %>">
        <img height="150" src="data:<%= book.imgMimeType %>;base64,<%= base64Files[index] %>" alt="img">
      </a>
    </div>
    <% }) %>
</div>

<form action="/books/del" method="POST">
  <div class="button-section">
    <button class="btn btn-danger" type='submit'>Delete All</button>
  </div>
</form>