<h2 class="page-header">New Book</h2>

<form action="/books/" method="POST" enctype="multipart/form-data">

  <div class="form-row">

    <!-- Book title -->
    <div class="form-item">
      <label class="item-name" for="title">Title</label>
      <input type="text" name="title" value="<%= book.title %>">
    </div>

    <!-- Book Author -->
    <div class="form-item">
      <label class="item-name" for="author">Author</label>
      <select name="author">
        <% authors.forEach(author=> { %>
          <% if (author.id==book.author) { %>
            <option selected label="<%= author.name %>" value="<%= author.id %>"></option>
            <% } else { %>
              <option label="<%= author.name %>" value="<%= author.id %>"></option>
              <% } %>
                <% }) %>
      </select>
    </div>
  </div>
  
  <div class="form-row">

    <!-- Book Publish Date -->
    <div class="form-item">
      <label class="item-name" for="publishDate">Publish Date</label>
      <input type="date" name="publishDate"
        value="<%= book.publishDate==null? '' : book.publishDate.toISOString().split('T')[0] %>">
    </div>

    <!-- Book Page Count -->
    <div class="form-item">
      <label class="item-name" for="pageCount">Page Count</label>
      <input type="number" name="pageCount" min="1" value="<%= book.pageCount %>">
    </div>
  </div>
    
  <div class="form-row">

    <!-- Book Cover Image -->
    <div class="form-item">
      <label class="item-name">Cover Image</label>
      <input type="file" name="coverImg" id=imageFile accept="image/*">
      <div class="image-preview" id="imagePreview">
        <label for="imageFile">
          <span class="image-preview-text">Upload image</span>
          <img src="" class="image-preview-image">
        </label>
      </div>
    </div>
    
    <!-- Book Description -->
    <div class="form-item">
      <label class="item-name" for="description">Description</label>
      <textarea name="description" cols="20" rows="5"><%= book.description %></textarea>
      
      <!-- buttons section -->
      <div class="button-section">
        <button class="btn btn-primary" type="submit">Submit</button>
        <a class="btn btn-primary" href="/">Cancel</a>
      </div>
    </div>

    
  </div>
</form>