<h2 class="page-header">Author : <span><%= author.name %></span></h2>

<div class="button-section">
  <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm.ejs', { url: `/authors/${author.id}`}) %>
</div>

<h3 class="page-second-title">Books written by <%= author.name %> :</h3>
  <%- include('../partials/_books_field.ejs') %> 

  </div>